

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Barlow', sans-serif;
    scroll-behavior: smooth;
}


li{
    list-style: none;
    padding: 0px;
    text-transform: uppercase;
}

ul{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: white;
}

header{
    position: fixed;
    z-index: 1;
    right: 0px;
}


.hero2{
    height: 470px;
}
.hero{
    height: 4903px;
}

.navbar{
    display: flex;
    justify-content: end;
    margin-top: 53px;
    font-size: 18px;
    z-index: -10;
}

.res{
 margin-top: 18%;
 margin-left: 60px;
}


.projetNav a{
    color: white;
}
.projetV1 a{
    color: black;
}

.hautBlanc{
    margin-top: 70vh;
}

.hautBlanc img{
    margin-left: 40px;
}

.hautNoir{
    margin-top: 70vh;
}

.hautNoir img{
    margin-left: 40px;
}

.haut{
    display: none;
}
.haut2{
    display: block;
}
.haut3{
    display: none;
}



.moi a{
    color: white;
}
.moiV1 a{
    color: black;
}

.contact a{
    color: white;
}
.contactV1 a{
    color: black;
}
.contactV2 a{
    color: white;
}





.fondNavNoir{
    background: black;
    width: 150px;
    height: 22px;
}
.fondNavWhite{
    background: white;
    width: 150px;
    height: 22px;
}


li {
    width: 150px;
    height: 22px;
}


.svg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.svg-container svg{
    margin-top: 100px;
}

#svgPortable{
    display: none;
}
.CV{
    font-size: 20px;
    margin-top: 70px;
    z-index: 5;
}
.CV:hover{
  transition: all 200ms ease-in;
  transform: scale(1.4);
}

.presentation{
  display: flex;
  justify-content: center;
}

.projetSection{
    margin-top: 450px;
    width: 100%;
    height: 1000px;
    background-image:url(blanc.svg);
}
.projetSection img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.titleProject{
    color: black;
    text-align: center;
}

.partAll{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.partWeb{
    position: relative;
    text-align: center;
    color: white;
    font-size: 25px;
    z-index: 5;
}
.partWeb img{
    background-size: cover;
    width: 100%;
}
.paraWeb{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}
.paraGame{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}
.paraAutre{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.partAutre{
    position: relative;
    text-align: center;
    color: white;
    font-size: 25px;
    z-index: 5;
}

.partAutre img{
    background-size: cover;
    width: 100%;
}

.partGame{
    position: relative;
    text-align: center;
    color: white;
    font-size: 25px;
    z-index: 5;
}

.partGame img{
    background-size: cover;
}
.img1Game{
    width: 33.33%;
    height: 200px;
}

.separateur{
    width: 100%;
    height: 100px;
}
.separateur2{
    width: 100%;
    height: 40px;
}


.moiSection{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: row;
}
.part2{
    display: flex;
    align-items: center;
}

.part2 img{
 width: 50%;
}

.Part1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Part1 p{

    width: 60%;
}


.contactSection{
    width: 100%;
    height: 1000px;
    background-image:url(blanc.svg);
    z-index: 100;
}
.partContact{
    width: 100px;
    height: 100px;
    background-color: yellow;
}


@media (max-width: 500px) {
    #svgPortable{
        display: block;
        margin-left: 0px;
    }
    #svg{
        display: none;
    }
    .svg-container{
        margin-left: 0px;
        margin-top: 11%;
    }
    .svg-container svg{
        margin-top: 100px;
    }
    .presentation{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 13px;
    }
    .partAll{
        width: 100%;
        height: 1000px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .partAll2{
        width: 100%;
        height: 1000px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .fleRetour{
        margin-top: 70vh;
        transform: rotate(-90deg);
        margin-right: 20px;
     }



    .moiSection{
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: col;
    }
    .moiSection h1{
        text-align: center;
        margin-top: 45px;
    }
    .part2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .part2 img{
     width: 50%;
    }
    .Part1 p{
        width: 100%;
    }
}
.mus{
    height: 270px;
    width:1080px;
    z-index: 300;
    pointer-events: fill;
}

.mus1{
    margin-top: 10vh;
    width: 50%;
}

.cover{
    height: 270px;
    width:1080px;
    object-fit: cover;
    filter: blur(4px);
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .fleRetour{
    margin-top: 70vh;
    transform: rotate(-90deg);
    margin-right: 50px;
 }
 .navbar2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 40px;
    font-size: 18px;
 }
.projetNav2{
    color: black;

}
.video-responsive {

  overflow:hidden; padding-bottom:56.25%; position:relative; height:0;

}

.video-responsive iframe {

  left:0; top:0; height:50%; width:50%; position:absolute;
  margin: 200px;
  margin-left: 450px;

}
.contactez-nous{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin-top: 200px;
}

.contactH1{
  color: black;
  display: flex;
  justify-content: center;
}
.mail{
  color: black;
  margin-top: 10px;
}
